.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  position: relative;
  height: var(--header-height);
  min-height: 50px;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__emoji {
    @include drop-shadow;
    transform: rotate(-10deg);
    cursor: pointer;
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 2;
  }

  &__logo-mobile {
    display: none;
  }

  @include bp(md) {
    overflow: visible;

    &__tagline,
    &__emoji,
    &__logo {
      display: none;
    }

    &__logo-mobile {
      display: block;
    }
  }
}
