// .home-page {
//   display: flex;
//   flex-direction: column;
//   width: 100%;

//   &__logo-form {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//   }
// }

.home-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}
