.footer {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;

  @include bp(sm) {
    .button {
      height: var(--mobile-button-size);
      width: var(--mobile-button-size);
    }

    .footer__byline {
      font-size: 0.75em;
    }

    .button__label {
      display: none;
    }

    .button__icon {
      margin: 0;
    }
  }
}
