.url-form {
  --padding: clamp(2.75rem, 1.75rem + 3vw, 3.5rem);
  --field-height: 3rem;
  display: flex;
  gap: 1em;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  padding: calc(1 * var(--padding)) calc(1.25 * var(--padding));
  position: relative;
  z-index: 0;

  &__header &__title {
    font-size: 3em;
    line-height: 0.9;
  }

  &__header {
    @include border;
    @include drop-shadow;
    @include center;
    display: none;
    position: absolute;
    top: -2em;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: var(--blue);
    padding: 1em 2em;
    border-radius: 1rem;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    // margin-top: 2em;
  }

  &__label-wrapper {
    @include center;
    @include ff-mono;
    justify-content: flex-start;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__label-icon {
    @include center;
    margin-right: 0.25rem;
  }

  &__input-wrapper {
    &:focus-within {
      @include focus-ring;
    }
  }

  &__input {
    @include border;
    display: block;
    appearance: none;
    padding: 0.5rem 0.75rem;
    height: var(--field-height);
    font-size: 1rem;
    background-color: var(--off-white);
    outline: none;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__button {
    margin-top: 0.5rem;
    height: var(--field-height);
    position: relative;
  }
}
