.home {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;

  &__main-heading {
    @include drop-shadow;
    font-size: clamp(2em, 1.25em + 5vw, 4.5em);
    line-height: 1;
    -webkit-text-stroke-width: var(--border-width);
    -webkit-text-stroke-color: var(--black);
  }

  &__teenify {
    position: relative;
  }

  &__emojis {
    display: inline-flex;
  }

  &__spinning-emoji-wrapper {
    @include drop-shadow;
    margin: 0.0625em;
    margin-right: 0.125em;
  }

  &__spinning-emoji {
    width: 1em;
    height: 1em;
    transform: rotate(0);
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
