*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  @include ff-sans;
  min-height: 100vh;
  background-color: var(--off-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next,
.app {
  min-height: 100vh;
  width: 100%;
}

.app {
  padding: 2.5rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.main {
  @include border;
  // @include inset-shadow;
  background-color: var(--pink);
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

label {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 1rem;
}

// table {
//   border-collapse: collapse;
//   width: 200px;
//   margin: 2rem 0;
// }

// th,
// td {
//   border: 1px solid;
//   padding: 0.25rem;
//   text-align: center;
// }

input[type="text"] {
  @include ff-sans(medium);
  width: 100%;
}

p {
  @include ff-mono(light);
  margin-bottom: 0;
  font-size: 0.9rem;

  &:not(p:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
