*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(var(--blue-rgb), 0.95);
  color: var(--white);
}

html {
  margin: 0;
  padding: 0;
}

body {
  @include ff-sans;
  min-height: 100vh;
  background-color: var(--off-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next,
.app {
  height: 100vh;
  width: 100%;
}

.app {
  padding: 1rem clamp(1rem, 2.5vw, 2.5rem);
  display: flex;
  flex-direction: column;
  position: relative;
}

.main,
.page {
  @include border;
  // @include inset-shadow;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 3.5em 1.5em 2.5em;
}

.page {
  height: 100%;
}

label {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  @include ff-sans(medium);
  width: 100%;
  caret-color: var(--pink);
}

p {
  @include ff-mono(light);
  margin-bottom: 0;
  font-size: 0.9rem;

  &:not(p:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

table {
  @include ff-mono;
  font-size: 0.8em;
  border-collapse: collapse;
  width: 100%;
  max-width: 450px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 1em 1.5em;
  word-break: break-all;
  text-align: center;
  white-space: pre;

  a {
    border-color: transparent;

    &:hover {
      border-color: currentColor;
    }
  }
}

ul,
ol,
li {
  list-style: none;
}
